
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
	<div >
		<div >
			<div>
				<form  method ="POST" action =" " >
					<span >
						Appointment
					</span>

					<div >
						<input  type="text" name="doctor" placeholder="Doctor">
						
					</div>

					<div >
						<input  type="text" name="patient" placeholder="patient">
						
					</div>
					

					

					<div>
						<button>
							
							<input type = "submit">
							
						</button>
					</div>

					
					</div>
				</form>
			</div>
		</div>
	</div>
	


</body>
</html>