<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8"><!DOCTYPE html>
   <!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
   <!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
   <!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
   <head>
   
      <!--- Basic Page Needs
      ================================================== -->
      <meta charset="utf-8">
      <title>Student Profile</title>
      <meta name="description" content="">
      <meta name="author" content="">
   
      <!-- Mobile Specific Metas
      ================================================== -->
    
   
      <link rel="stylesheet" href="/static/msg.css">    
   </head>
   <body>
   <div class="row">
   
       <div class="eight columns">
   
          <!-- form -->
          <form align='center' action="" method="post" id="contactForm" name="contactForm">

            <br/><br/>
            <h1 align='center'>MESSAGE</h1>

            <br/>
             
   
             <div >
                      <label for="contactName">TO<span class="required">*</span></label>
                      <input type="text" value="" size="35" id="contactName" name="to">
             </div>
   
             <div >
               <label for="contactName">FROM <span class="required">*</span></label>
               <input type="text" value="" size="35" id="contactName" name="from">
      </div>
   
            
   
             <div >
                <label for="contactMessage">Message <span class="required">*</span></label>
                
                <textarea cols="50" rows="15" id="contactMessage" name="message"></textarea>
             </div>
   <br/><br/>   <br/><br/>
   <br/><br/>   <br/><br/>
             <div>
               <input  type="submit" value="Submit" >
              <a href ='/back' <button type ='button'>Back</button> 
             </div>
   
             
              </form> <!-- Form End -->
   
   
       </div>
   </div>
   </body>
   </html>
   