


        <html>

            <body>
          <form method = 'POST' action = ''>
              <p>UserName : <input type = "text" name="username"/></p>
              <p>Password :<input type = "text" name="password"/></p>
              <p>Re-enter Password : <input type = "text" name="cpassword"/></p>
              <p>University Name :<input type = "text" name="uniname"/></p>
              <p>Course  : <input type = "text" name="course"/></p>
              <p>Year of Graduation :<input type = "text" name="gdate"/></p>
              <p>Description : <input type = "text" name="desc"/></p>
              <p>School Name :<input type = "text" name="schname"/></p>
              <p>Year of Completion: <input type = "text" name="gsdate"/></p>
              <p>Description:<input type = "text" name="des"/></p>
              <p>Place: <input type = "text" name="place1"/></p>
              <p>Design :<input type = "text" name="design"/></p>
              <p>Duration : <input type = "text" name="duration"/></p>
              <p>Description :<input type = "text" name="descr"/></p> 
              <p>Place : <input type = "text" name="place2"/></p>
              <p>Design :<input type = "text" name="design1"/></p> 
              <p>Duration : <input type = "text" name="duration1"/></p>
              <p>Description :<input type = "text" name="descri"/></p>
                <p>Skill 1 : <input type = "text" name="skill1"/></p>
                <p>Skill 2 : <input type = "text" name="skill2"/></p>
                <p>Skill 3 : <input type = "text" name="skill3"/></p>
                <p>Skill 4 : <input type = "text" name="skill4"/></p>
                <p>Skill 5 : <input type = "text" name="skill5"/></p>
            
              <p><input type = "submit" value="submit"/></p>
              
          
              </form>
          
            </body>
          
          </html>